* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

nav menu {
  list-style: none;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

/* HEADER */

header {
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header h1 {
  width: 100%;
  text-align: center;
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
  text-align: center;
  margin: 5px;
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header nav {
  width: 100%;
  text-align: center;
  margin-bottom: 7px;
}

header menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
  margin: 10px;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
}

/* NAV*/

body > nav {
  grid-area: nav;
}

body > nav > menu {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

body > nav menu a:hover {
  background: var(--background);
}

/* MAIN */

main {
  background: var(--background);
  padding: 1rem;
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px 7px 20px 7px;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}

/* Footer */

footer {
  grid-area: footer;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

footer a {
  color: var(--primary);
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 160px auto;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }

  /* HEADER */

  header {
    z-index: 1;
    padding: 0 2rem;
    justify-content: space-evenly;
    align-items: center;
  }

  header h1 {
    width: auto;
    text-align: center;
    margin: 20px 5px 20px 0px;
  }

  header form {
    width: fit-content;
    box-shadow: var(--shadow);
    text-align: center;
    margin: auto;
  }

  header nav {
    width: auto;
    margin-bottom: 7px;
  }
  /* NAV */

  body > nav {
    padding-top: 1rem;
  }

  body > nav > menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
}
