* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 85px;
  background-color: rgb(96, 141, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 30px 30px 0px 30px;
}

h2 {
  color: rgb(96, 141, 255);
}

section {
  padding: 5px;
}

ul {
  padding: 10px 30px;
  list-style-type: circle;
}

li {
  padding: 5px;
}

.importante {
  font-weight: bolder;
  text-decoration: underline;
}

table {
  padding: 10px 10px;
  text-align: center;
}

th,
td {
  padding: 15px;
}

thead {
  background-color: rgb(96, 141, 255);
  color: white;
}

tbody > tr:nth-child(even) > td {
  background-color: rgb(120, 183, 238);
}

tbody > tr:nth-child(even) > th {
  background-color: rgb(66, 157, 237);
}

tbody > tr:nth-child(odd) > td {
  background-color: rgb(173, 236, 255);
}

tbody > tr:nth-child(odd) > th {
  background-color: rgb(120, 183, 238);
}

#descanso {
  font-weight: bolder;
}
